.preloader {
    padding: 1rem 2rem;
    background: #fff;
    box-shadow: inset 0 0 0 3px rgba(0,0,0,.2);
}
.preloader {
    text-align: center;
}

.bigsquare {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    overflow: hidden;
    -webkit-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-animation: bigSqrShrink 1s linear infinite;
    animation: bigSqrShrink 1s linear infinite;
}
@keyframes bigSqrShrink {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    90% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(.5);
        transform: scale(.5);
    }
}


.bigsquare .first {
    left: 0;
    top: 20px;
}
.bigsquare .square {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #3c8527;
}

.bigsquare .second {
    left: 20px;
    top: 20px;
    animation: drop2 1s linear infinite;
}
@keyframes drop2 {
    0% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
    }
    25% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}
.bigsquare .third {
    left: 0;
    top: 0;
    animation: drop3 1s linear infinite;
}
@keyframes drop3 {
    0% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
    }
    50% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

.bigsquare .fourth {
    left: 20px;
    top: 0;
    animation: drop4 1s linear infinite;
}
@keyframes drop4 {
    0% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
    }
    75% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}